@using KanbanBoard.Data.Entities

    <li class="draggable"  draggable="true" title="@Item.Title" @ondragleave="HandleDragLeave" @ondragover="HandleDragOver" @ondragstart="@(() => HandleDragStart(Item))">
        <p><span class="oi oi-minus" aria-hidden="true" @onclick="DeleteItem"></span></p>
        <p class="title">@Item.Title - @Item.Place</p>
        <hr />
        <p class="description">@Item.Description</p>
    </li>

@code {
    [CascadingParameter] JobsBoardComponent Container { get; set; }
    
    [Parameter]
    public JobItem Item { get; set; }

    private void HandleDragStart(JobItem selectedJob)
    {
        Container.Dragged = selectedJob;
    }

    private void HandleDragOver()
    {
        Container.DraggedOver = Item;
    }

    private void HandleDragLeave()
    {
        Container.DraggedOver = null;
    }

    private void DeleteItem()
    {
        Container.DeleteItem(Item);
    }
}